<main>
  @if (isLoading) {
  <app-loader />
  } @else {
  <div class="content-container">
    <!-- Left Column: Categories -->
    <div class="categories-column">
      <h3>Categories</h3>
      <ul>
        @for (category of categories; track $index) {
        <li class="category-button" [class.active]="currentCategory === category" (click)="filterByCategory(category)">
          {{ category }}
        </li>
        }
      </ul>
    </div>

    <!-- Right Column: Games -->
    <div class="games-display-column">
      @if (!currentCategory) {
      <h3> Last 5 Added Games</h3>
      }
      @if (currentCategory){
      <h3>Last 5 Games in "{{ currentCategory }}"</h3>
      }
      @for (game of displayedGames; track $index) {
      <div class="game-summary">
        <img [src]="game.picture" alt="{{ game.name }}" class="summary-image" />
        <div class="summary-details">
          <h4 class="game-name">{{ game.name }}</h4>
          <p class="game-description">{{ game.description | slice: 0: 50 }}...</p>

          <!-- Link to Discussion Page -->
          <a (click)="navigateToDiscussion(game.name)" class="discussion-link">
            View Discussion
          </a>

          <!-- More Details Button -->
          <button (click)="navigateToGameDetails(game.name)" class="more-details-button">
            More Details
          </button>
        </div>
      </div>
      }
    </div>
  </div>
  }
</main>