/* Main container for the layout */
.content-container {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Categories column (left side) */
.categories-column {
  flex: 1;
  /* Equal space with games column */
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 1.5em;
  ;
}

.categories-column h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.categories-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-button {
  display: block;
  font-size: 1.1em;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #4b3a60;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.category-button:hover {
  background-color: #ffc107;
  transform: scale(1.05);
}

.category-button.active {
  background-color: #ffc107;
  color: #4b3a60;
}

/* Games display column (right side) */
.games-display-column {
  flex: 1;
  /* Equal space with categories column */
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.games-display-column h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

.game-summary {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.game-summary:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.summary-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  object-fit: cover;
}

.summary-details {
  flex: 1;
}

.game-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.game-description {
  font-size: 0.9em;
  color: #666;
  margin: 5px 0 0;
}