<div class="categories-container">
  <!-- Sidebar: Categories List -->
  <div class="sidebar">
    <h3>Categories</h3>
    <ul>
      @for (category of categories; track category) {
      <li (click)="onCategorySelect(category)">
        {{ category }}
      </li>
      }
    </ul>
  </div>

  <!-- Main Content: Games List -->
  <div class="games-list">
    <h3 *ngIf="!selectedCategory">Latest Games</h3>
    <h3 *ngIf="selectedCategory">{{ selectedCategory }} Games</h3>

    <!-- Display Games -->
    <ng-container *ngIf="gamesToDisplay$ | async as games">
      @if (games.length > 0) {
      @for (game of games; track game.id) {
      <div class="game-card">
        <img [src]="game.picture" alt="{{ game.name }}" class="game-image" />
        <h4>{{ game.name }}</h4>
        <p>{{ game.description }}</p>
        <p><strong>Price:</strong> ${{ game.price }}</p>
        <p><strong>Condition:</strong> {{ game.condition | titlecase }}</p>
        <button (click)="onMoreDetails(game.id!)">More Details</button>
        <button (click)="onDiscussion(game.id!)">Discussion</button>
      </div>
      }
      } @else {
      <p>No games available in this category.</p>
      }
    </ng-container>
  </div>
</div>