<form (submit)="onSubmit()">
  <label>Username</label>
  <input [formControl]="registerForm.controls.username" type="text" />

  <label>Email</label>
  <input [formControl]="registerForm.controls.email" type="email" />

  <label>Phone</label>
  <input [formControl]="registerForm.controls.phone" type="text" />

  <label>Password</label>
  <input [formControl]="registerForm.controls.password" type="password" />

  <label>Confirm Password</label>
  <input [formControl]="registerForm.controls.rePassword" type="password" />

  @if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
  }

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>