<div class="container">
  <form (submit)="onRegister(); $event.preventDefault()" class="form-register">
    <fieldset>
      <legend>Register</legend>

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" placeholder="Enter username" [(ngModel)]="username" name="username" required />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" placeholder="Enter email" [(ngModel)]="email" name="email" required />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" placeholder="Enter password" [(ngModel)]="password" name="password"
          required />
      </div>

      <!-- Re-enter Password -->
      <div class="form-group">
        <label for="rePassword">Re-enter Password:</label>
        <input id="rePassword" type="password" placeholder="Re-enter password" [(ngModel)]="rePassword"
          name="rePassword" required />
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn-register">Register</button>

      <!-- Error Message -->
      @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }

      <!-- Login Link -->
      <p class="text-center">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </fieldset>
  </form>
</div>