<header>
  <!-- Top Mini Navbar -->
  <div class="mini-navbar-wrap">
    <div class="logo">
      <img src="logoNew.png" alt="Board Games Mania Logo">
      <span>Board Games Mania</span>
    </div>
    <div class="mini-navbar">
      <ul>
        <!-- Conditional Rendering for Logged-in State -->
        @if (isLoggedIn) {
        <li>
          <a routerLink="profile">{{ username | uppercase }}'s Profile</a>

        </li>
        <li>
          <a (click)="onLogout()">Logout</a>
        </li>
        } @else {
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
        }
      </ul>
    </div>
  </div>

  <!-- Navigation Links -->
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/games/categories">Categories</a>
      </li>
      @if (isLoggedIn) {
      <li>
        <a routerLink="/games/add">Add Game</a>
      </li>
      }
    </ul>
  </nav>
</header>