<div *ngIf="comments.length > 0; else noComments">
  <ul>
    <li *ngFor="let comment of comments">
      <strong>{{ comment.user }}:</strong> {{ comment.message }} ({{ comment.date }})
    </li>
  </ul>
</div>

<ng-template #noComments>
  <p>No comments yet.</p>
  <p *ngIf="authService.isLoggedIn()">Be the first to comment!</p>
  <p *ngIf="!authService.isLoggedIn()">Please <a routerLink="/login">log in</a> to view or add comments.</p>
</ng-template>

<!-- Add Comment Form -->
<div *ngIf="authService.isLoggedIn()">
  <input type="text" placeholder="Your name" [(ngModel)]="newComment.name" />
  <textarea placeholder="Add a comment..." [(ngModel)]="newComment.text"></textarea>
  <button (click)="addComment()">Post Comment</button>
</div>