<div class="discussion-container">
  <div class="comment-list-wrapper">
    <h3 class="discussion-header">Discussion for Sample Game</h3> <!-- This will be centered -->

    <!-- List of comments -->
    @if (comments.length > 0) {
    <ul class="comment-list">
      @for (comment of comments; track $index) {
      <li>
        <strong>{{ comment.user }}:</strong> {{ comment.message }}
      </li>
      }
    </ul>
    }@else {
    <!-- No comments message -->
    <div class="no-comments-message">
      No comments yet. Be the first to comment!
    </div>
    }

    <!-- Add Comment Form -->
    <div class="add-comment-form">
      <input type="text" placeholder="Your name" [(ngModel)]="newComment.name" />
      <textarea placeholder="Add a comment..." [(ngModel)]="newComment.text"></textarea>
      <button (click)="addComment()">Post Comment</button>
    </div>
  </div>
</div>