<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-login">
    <fieldset>
      <legend>Login</legend>

      <!-- Unified input for email or username -->
      <div class="form-group">
        <label for="emailOrUsername">Email or Username:</label>
        <input id="emailOrUsername" type="text" placeholder="Enter your email or username"
          formControlName="emailOrUsername" required />
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" placeholder="Enter your password" formControlName="password" required />
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
        Login
      </button>

      <!-- Error Message -->
      @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }

      <!-- Register Link -->
      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>