<div class="container">
  <form class="login" (submit)="login()">

    <fieldset>
      <h2>Login Form</h2>

      <!-- Email Field -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input type="email" id="email" placeholder="username@gmail.com" #inputEmail />
      </p>

      <!-- Password Field -->
      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input type="password" id="password" placeholder="******" #inputPassword />
      </p>

      <!-- Error Message -->
      @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
      }


      <!-- Login Button -->
      <button type="submit">Login</button>

      <!-- Register Link -->
      <p class="text-center">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>