<div class="container">
  <div class="container">
    <div class="welcome">
      <section id="hero">
        <div class="hero-text">
          <h1>Welcome to Board Games Mania</h1>
          <p>Your go-to marketplace for second-hand board games</p>
          <a routerLink="/categories" class="cta-button">Browse Games</a>
        </div>
        <img src="pexels-karolina-grabowska-4887249.jpg" alt="Board Games" class="hero-image">
      </section>

      <section id="categories" class="container">
        <div class="line"></div>
        <h2>Categories</h2>
        <div class="category-grid">
          <!-- Категории с RouterLink -->
          <a [routerLink]="['/categories']" [queryParams]="{ category: 'Children\'s Games' }"
            class="category-card">Children's Games</a>
          <a [routerLink]="['/categories']" [queryParams]="{ category: 'Card Games' }" class="category-card">Card
            Games</a>
          <a [routerLink]="['/categories']" [queryParams]="{ category: 'Adventure Games' }"
            class="category-card">Adventure Games</a>
          <a [routerLink]="['/categories']" [queryParams]="{ category: 'Family Games' }" class="category-card">Family
            Games</a>
          <a [routerLink]="['/categories']" [queryParams]="{ category: 'Strategy Games' }"
            class="category-card">Strategy Games</a>
        </div>
      </section>
    </div>
  </div>
</div>