<div class="game-details-container">
  @if (isLoading) {
  <p>Loading...</p>
  } @else if (error) {
  <p class="error">{{ error }}</p>
  } @else if (game) {
  <div class="game-details-card">
    <img [src]="game.picture" alt="{{ game.name }}" class="game-image" />
    <div class="game-info">
      <h2>{{ game.name }}</h2>
      <p><strong>Description:</strong> {{ game.description }}</p>
      <p><strong>Category:</strong> {{ game.category }}</p>
      <p><strong>Price:</strong> ${{ game.price }}</p>
      <p><strong>Condition:</strong> {{ game.condition | titlecase }}</p>
      <p><strong>Added on:</strong> {{ game.createdAt | date: 'medium' }}</p>
    </div>
  </div>
  }
</div>